<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="sidebar">
    <div class="sidebar bg-light border-end" id="sidebar">
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item"><a th:href="@{/index}" class="nav-link" aria-current="page"><span class="me-2">🏠</span> Заявки</a></li>
            <li class="nav-item"><a th:href="@{/clients}" class="nav-link"><span class="me-2">👥</span> Клиенты</a></li>
            <li class="nav-item"><a href="#" class="nav-link"><span class="me-2">📄</span> Договора</a></li>
            <li class="nav-item"><a href="#" class="nav-link"><span class="me-2">📅</span> Оборудование</a></li>
            <li class="nav-item"><a href="#" class="nav-link"><span class="me-2">👔</span> Сотрудники</a></li>
            <li class="nav-item"><a href="#" class="nav-link"><span class="me-2">📊</span> Отчеты</a></li>
            <li class="nav-item"><a href="#" class="nav-link"><span class="me-2">⚙️</span> Настройка</a></li>
        </ul>
        <div class="bottom-legend text-center">
            <div class="mb-2"><span sec:authentication="principal.authorities"> </span></div>
            <div class="text-muted"><b>&copy; 2023 petr.krg, erlan.krg</b></div>
        </div>
    </div>
</div>
</body>
</html>