<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="header">

    <div class="container-fluid">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 border-bottom">
            <a th:href="@{/index}" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                <img th:src="@{/img/logo.svg}" width="400" height="40" class="bi me-2" alt="" loading="lazy">
            </a>

            <div th:replace="~{fragments/modal/changePassword :: changePassword}"/>

            <div th:replace="~{fragments/modal/editProfile :: editProfile}"/>

            <div class="dropdown">
                <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img th:src="@{/img/no-profile.svg}" alt="" width="42" height="42" class="rounded-circle me-2">
                </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser1" style="">
                    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#profileModal" onclick="loadUserProfile()">Мой профайл</a></li>
                    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#changePasswordModal">Смена пароля</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" th:href="@{/logout}">Выход</a></li>
                </ul>
            </div>
        </header>
    </div>

</div>
</body>
</html>