<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
</head>
<body>

<div th:fragment="changeUserPassword">

<div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changePasswordModalLabel">Смена пароля</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Форма смены пароля -->
                <form th:action="@{/user/change-password}" method="post" id="changePasswordForm">
                    <div class="mb-3">
                        <label for="currentPassword" class="form-label"><span class="required-star">*</span>Текущий пароль</label>
                        <input type="password" class="form-control" name="currentPassword" id="currentPassword" required>
                    </div>
                    <div class="mb-3">
                        <label for="newPassword" class="form-label"><span class="required-star">*</span>Новый пароль</label>
                        <input type="password" class="form-control" name="newPassword" id="newPassword" required>
                    </div>
                    <div class="mb-3">
                        <label for="confirmNewPassword" class="form-label"><span class="required-star">*</span>Повторите новый пароль</label>
                        <input type="password" class="form-control" id="confirmNewPassword" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button type="submit" form="changePasswordForm" class="btn btn-primary">Применить</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>